<a href="https://www.kaggle.com/code/allasamoilenko/data-analysis-crime-samoilenko?scriptVersionId=233678335" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn import tree

In [7]:
data ='/kaggle/input/crime-cast-forecasting-crime-categories/train.csv'

df = pd.read_csv(data)
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
0,4500 CARPENTER AV,NaN,34.1522,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,34.0028,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,34.2953,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,33.9787,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes

In [8]:
df.describe(include='all')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
count,20000,3448,20000.000000,20000.000000,20000,20000,20000.000000,20000.000000,20000,20000.000000,...,20000.000000,17376,17376,20000.000000,19995,7335.000000,7335,20000,20000,20000
unique,12399,1495,NaN,NaN,811,366,NaN,NaN,21,NaN,...,NaN,4,17,NaN,216,NaN,57,5,5,6
top,6TH,BROADWAY,NaN,NaN,07/13/2020 12:00:00 AM,01/01/2020 12:00:00 AM,NaN,NaN,77th Street,NaN,...,NaN,M,H,NaN,STREET,NaN,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
freq,33,56,NaN,NaN,87,137,NaN,NaN,1345,NaN,...,NaN,8538,6143,NaN,5033,NaN,3990,15236,15236,11666
mean,NaN,NaN,33.940704,-117.893072,NaN,NaN,1352.380350,10.834250,NaN,1129.599200,...,30.135000,NaN,NaN,297.176950,NaN,366.405044,NaN,NaN,NaN,NaN
std,NaN,NaN,2.126810,7.377726,NaN,NaN,646.100291,6.033166,NaN,603.330519,...,21.863645,NaN,NaN,212.007298,NaN,120.485687,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,-118.663400,NaN,NaN,1.000000,1.000000,NaN,101.000000,...,-2.000000,NaN,NaN,101.000000,NaN,101.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,34.009200,-118.429700,NaN,NaN,930.000000,6.000000,NaN,632.000000,...,12.000000,NaN,NaN,101.000000,NaN,312.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,34.058700,-118.323000,NaN,NaN,1430.000000,11.000000,NaN,1162.000000,...,31.000000,NaN,NaN,203.000000,NaN,400.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,34.165025,-118.274400,NaN,NaN,1900.000000,16.000000,NaN,1622.000000,...,46.000000,NaN,NaN,501.000000,NaN,400.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,34.328100,0.000000,NaN,NaN,2359.000000,21.000000,NaN,2197.000000,...,99.000000,NaN,NaN,969.000000,NaN,515.000000,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               20000 non-null  object
 1   Cross_Street           3448 non-null   object
 2   Latitude               20000 non-null  float64
 3   Longitude              20000 non-null  float64
 4   Date_Reported          20000 non-null  object
 5   Date_Occurred          20000 non-null  object
 6   Time_Occurred          20000 non-null  float64
 7   Area_ID                20000 non-null  float64
 8   Area_Name              20000 non-null  object
 9   Reporting_District_no  20000 non-null  float64
 10  Part 1-2               20000 non-null  float64
 11  Modus_Operandi         17259 non-null  object
 12  Victim_Age             20000 non-null  float64
 13  Victim_Sex             17376 non-null  object
 14  Victim_Descent         17376 non-null  object
 15  Premise_Code           20000 non-null  float64
 16  Premise_Description    19995 non-null  object
 17  Weapon_Used_Code       7335 non-null   float64
 18  Weapon_Description     7335 non-null   object
 19  Status                 20000 non-null  object
 20  Status_Description     20000 non-null  object
 21  Crime_Category         20000 non-null  object
dtypes: float64(9), object(13)
memory usage: 3.4+ MB

In [11]:
df.shape

(20000, 22)

In [13]:
df.columns = df.columns.str.lower()
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,location,cross_street,latitude,longitude,date_reported,date_occurred,time_occurred,area_id,area_name,reporting_district_no,...,victim_age,victim_sex,victim_descent,premise_code,premise_description,weapon_used_code,weapon_description,status,status_description,crime_category
0,4500 CARPENTER AV,NaN,34.1522,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,34.0028,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,34.2953,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,33.9787,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes

In [ ]:
filtered_crimes = df[
    (df['Crime_Category'] == 'Property Crimes') & 
    (df['Area_Name'] == '77th Street') &
    (df['Victim_Age'] > 18)
]

In [ ]:
agg_results = {
    'Total Crimes': df['Crime_Category'].count(),
    'Max Age': df['Victim_Age'].max(),
    'Min Age': df['Victim_Age'].min(),
    'Average Age': round(df['Victim_Age'].mean(), 1),
    'Most Common Weapon': df['Weapon_Description'].mode()[0],
    'Crimes at Streets': df[df['Premise_Description'] == 'STREET']['Premise_Description'].count()
}

In [ ]:
sorted_df = df.sort_values(['Victim_Age', 'Time_Occurred'], ascending=[False, True])

In [ ]:
grouped_data = df.groupby(['Crime_Category', 'Victim_Sex']).agg({
    'Victim_Age': ['mean', 'count'],
    'Weapon_Used_Code': 'nunique'
}).reset_index()
grouped_data.columns = ['Crime Category', 'Victim Sex', 'Average Age', 'Crime Count', 'Unique Weapons']

In [ ]:
pivot_table = pd.pivot_table(
    df,
    values='Victim_Age',
    index='Crime_Category',
    columns='Area_Name',
    aggfunc=np.mean,
    fill_value=0
)

In [ ]:
print("Фільтровані дані (Property Crimes у 77th Street для жертв старше 18):")
print(filtered_crimes[['Location', 'Victim_Age', 'Victim_Sex', 'Weapon_Description']].head())

In [ ]:
print("\nАгреговані результати:")
for key, value in agg_results.items():
    print(f"{key}: {value}")

In [ ]:
print("\nПерші 5 записів після сортування (вік та час злочину):")
print(sorted_df[['Victim_Age', 'Time_Occurred', 'Crime_Category']].head())

In [ ]:
print("\nГрупування за категорією злочину та статтю жертви:")
print(grouped_data)

In [ ]:
print("\nЗведена таблиця (середній вік жертв за категорією та районом):")
print(pivot_table)